alias l='ls -la'
alias ll='ls -la'
alias la='ls -lA'
alias a='ag'
alias o='open'
alias tailf='tail -f'

# git
alias g='git'
alias gg='git graph'
alias gs='git st'    # git status
alias ga='git a'     # git add
alias gci='git ci'   # git commit

# docker
alias d='docker'
alias dc='docker-compose'
alias de='docker exec -it $(docker ps | tail -n +2 | peco | cut -d" " -f1) bash'
