alias l='ls -la'
alias ll='ls -la'
alias la='ls -lA'
alias a='ag'
alias tailf='tail -f'

# git
alias g='git'
alias gg='git graph'
alias gs='git st'    # git status
alias ga='git a'     # git add
alias gci='git ci'   # git commit
