[user]
    name = Chisei Takenouchi
    email = chisei.takenouchi@gmail.com

[color]
    ui = true

[alias]
    co = checkout
    ci = commit
    st = status
    br = branch

[core]
    editor = vim
    excludesfile = ./.gitignore
